body {
    margin: 0;
    font-family: 'Mallanna', sans-serif;
}

header {
    background-color: blueviolet;
}

.inner {
    max-width: 1200px;
    margin: auto;
    z-index: 1;
    position: relative;
}
nav {
    position: absolute;
    width: 100%;
    top: 100%;
    border-top: 2px solid white;
}
header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header img {
    max-width: 100px;
}
header ul {
    list-style: none;
    display: block;
    background-color: blueviolet;
    margin: 0;
}
.hamburgerMenu {
    position: absolute;
    right: 0;
    font-size: 50px;
    margin-right: 20px;
}
.logoAndTagLine {
    display: flex;
    align-items: center;
}
nav {
    display: none;
}
nav.active {
    display: block;
}
.tagline h1, .tagline p {
    margin: 0;
    margin-left: 10px;
    color: white;
}
.tagline h1 {
    font-family: 'Knewave', cursive;
    font-size: 4em;
}

header ul {
    list-style: none;
}

header ul li {
    padding: 0 20px;
}

.hero {
    height: 100vh;
    display: flex;
    text-align: center;
    background-image: url(https://media.istockphoto.com/photos/friendly-pets-picture-id904463770?k=6&m=904463770&s=612x612&w=0&h=XM7J3ntqkiX0_J5_hWx9jzWD_YBasFEmq6jGziI1548=);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.hero .inner {
    position: unset;
}
.bgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
}

.hero h1, .hero button {
    color: white;
    font-size: 2.5em;
}
.hero h2 {
    font-size: 1.5em;
    color: white;
}

.hero button {
    background-color: blueviolet;
    padding: 10px 60px;
    border: 1px solid #9a44ea;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.hero button:hover {
    transform: scale(1.2);
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    header ul {
        display: flex;
        align-items: center;
    }
    nav {
        position: relative;
        width: auto;
        top: unset;
        border: none;
        display: block;
    }
    .hamburgerMenu {
        display: none;
    }
}