.map {
    height: 400px;
    margin: auto;
}
.map #content {
    box-sizing: border-box;
}
#bodyContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#bodyContent img {
    width: 30%;
}
#bodyContent p {
    width: 65%;
    font-size: 2em;
}
.firstHeading {
    background-color: blueviolet;
    color: white;
    padding: 10px;
}
.hide {
    display: none;
}